<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<link rel="stylesheet" href="style.css">
	<script src="script.js"></script>
    <title>Document</title>
	
</head>
<body>
	<div class="container h100">

		<div class="row align-content-center justify-content-center w100 h30">
			<h1> URL SHORTENER </h1>
		</div>

		<form class="row row input-group 90 h70 align-content-center justify-content-center" id="form1">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">URL</label>
			</div>
			<input type="text" class="form-control" placeholder="Enter URL here" name="url" id="url">
			<div class="input-group-append">
				<button class="btn btn-success">Submit</button>
			</div>
		</form>

		<div class="row row input-group 90 h70 align-content-center justify-content-center hidden" id="form2">
			<div class="input-group-prepend">
				<label class="input-group-text" for="inputGroupSelect01">URL</label>
			</div>
			<input readonly type="text" class="form-control" value="URL not generated" id="shortUrl">
			<div class="input-group-append">
				<button class="btn btn-secondary" id="copy" onclick="copyToClipboard()"> Copy </button>
			</div>
		</div>

	</div>

</body>
</html>